<template>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card card-default">
                        <div class="card-header bg-danger text-white">Supply information</div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>
                                    <div class="col-md-6">
                                        <input id="email" type="email" class="form-control" v-model="email" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input id="password" type="password" class="form-control" v-model="password" required minlength="6">
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-danger" @click="handleSubmit">
                                            Login
                                        </button>
                                        <div class="create-bg">
                                            <h6><router-link :to="{ name: 'register' }" class="nav-link" tag="a">New? Create an account </router-link> </h6>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 <script>

export default {
    data() {
        return {
            email: "",
            password: "",
            title: 'Login to your account'
        }
    },
    mounted() {
        this.$store.dispatch('changeHeaderTitle', this.title);
    },
    computed: {
        isLoggedIn () {
            return this.$store.getters.isLoggedIn;
        }
    },
    methods: {
        handleSubmit(e) {
            e.preventDefault()
            let email = this.email
            let password = this.password
            let data = {
                email: this.email,
                password: this.password
            }
            this.$store.dispatch('loginSession', data).then(() => {
                if (this.isLoggedIn) {
                    this.$emit('loggedIn');
                    let nextUrl = this.$route.params.nextUrl
                    this.$router.push((nextUrl != null ? nextUrl : '/dashboard'));
                }
            }); 
        }
    }
}

</script>