<template>
    <div class="container">
        <div class="row">
            <div class="no-order" v-if="!products.length">
                <div class="col-md-12">
                    <h3> You have not added any products yet :-) </h3>
                    <router-link :to="{ name: 'home' }" > Let's help you find one</router-link>
                </div>
            </div>
            <div class="col-md-12 justify-center" v-else>
                <div class="row">
                    <div class="col-md-4 product-box" v-for="(product,index) in products" @key="index">
                        <router-link :to="{ path: '/products/'+product.id}">
                            <progressive-img :src="product.image" :alt="product.name" />
                        </router-link>
                        <div class="product-price">
                            <div>
                                <router-link :to="{ path: '/products/'+product.id}">
                                    <h5><span v-html="product.name"></span></h5>
                                </router-link>
                            </div>
                            <div>
                                <span class="small-text text-muted">{{product.price | currency}}</span> <br />
                                    Unit:  <input id="cart" type="number" class="col-md-6 form-control float-right" min="1" v-model="product.quantity"  @keyup="updateCartQuantity(product, product.quantity)"> <br />
                                    <div style="margin-top: 30px">
                                        Total Price: <span class="small-text text-muted">{{product.totalPrice | currency}}</span>
                                    </div>
                            </div>
                        </div>
                        <div class="btn-buy-now">
                            <button class="col-md-4 btn btn-sm btn-danger" @click="removeFromCart(product)"><Cancel />Remove</button> 
                        </div>
                    </div>
                </div>
                <div class="row checkout-bg">
                    <div class="col-md-12">
                        <div class="btn-buy-now">
                             <router-link :to="{ name: 'checkout' }" class="col-md-4 btn btn-lg btn-primary" ><Cart />Proceed to Checkout</router-link> 
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
import Cart from 'vue-material-design-icons/Cart.vue';
import Cancel from 'vue-material-design-icons/Cancel.vue';
import CreditCard from 'vue-material-design-icons/CreditCard.vue'

export default {
    data(){
        return {
            products: this.$store.getters.cart,
            title: 'Your Carts',
            isLoading: false,
            isEmpty: false,
        }
    },
    mounted() {
        this.$store.dispatch('changeHeaderTitle', this.title);
    },
    computed: {
        totalPrice() {
            let total = 0;
            for (let item of this.products) {
                total += item.totalPrice;
            }
            return total;
        },
    },
    methods: {
        removeFromCart(product) {
            this.$store.dispatch('removeFromCart', product);
            this.isEmpty = this.products.length < 1 ? true : false;
        },
        updateCartQuantity(product, quantity) {
            if (quantity > product.units) {
                quantity = product.units
            }
            this.isLoading = true;
            product['quantity'] = parseInt(quantity);
            this.$store.dispatch('updateCartQuantity', product);
            this.isLoading = false;
        },
    },
    components: {
        Cart,
        Cancel,
    }
}
</script>
<style scoped>
.small-text { 
    font-size: 18px;
}
.title {
    font-size: 36px;
    color: #E0320D;
}
button {
    font-size: 18px !important;
}
button:hover {
    background-color: white;
    color: #E0320D;
}
.product-box {
    text-align: center;
}
.checkout-bg {
    margin-top: 30px;
    text-align: center;
}
</style>