<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                
                <br>
                <div>
                    <div v-if="!isLoggedIn">
                        <h2>You need to login to continue</h2>
                        <button class="col-md-4 btn btn-primary float-left" @click="login">Login</button>
                        <button class="col-md-4 btn btn-danger float-right" @click="register">Create an account</button>
                    </div>
                    <div v-if="isLoggedIn">
                        <div class="row">
                            <label for="address" class="col-md-3 col-form-label">Delivery Address</label>
                            <div class="col-md-9">
                                <input id="address" type="text" class="form-control" v-model="address" required>
                            </div>
                        </div>
                        <br>
                        <button class="col-md-4 btn btn-sm btn-success float-right" v-if="isLoggedIn" @click="placeOrder">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            address : "",
            quantity : 1,
            isLoggedIn : null,
            product : [],
            title: 'My Checkout',
        }
    },
    mounted() {
        this.isLoggedIn = localStorage.getItem('fintEcom.jwt') != null
        this.$store.dispatch('changeHeaderTitle', this.title);
    },
    methods : {
        login() {
            this.$router.push({name: 'login', params: {nextUrl: this.$route.fullPath}})
        },
        register() {
            this.$router.push({name: 'register', params: {nextUrl: this.$route.fullPath}})
        },
        placeOrder(e) {
            e.preventDefault()

            let address = this.address
            let product_id = this.product.id
            let quantity = this.quantity

            axios.post('api/orders/', {address, quantity, product_id})
                    .then(response => this.$router.push('/confirmation'))
        },
        checkUnits(e){
            if (this.quantity > this.product.units) {
                this.quantity = this.product.units
            }
        }
    }
}
</script>

<style scoped>
.small-text { 
    font-size: 18px; 
}
.order-box { 
    border: 1px solid #cccccc; 
    padding: 10px 15px; 
}
.title { 
    font-size: 36px; 
}
</style>