<template>
    <div class="container">
        <div class="row">
            <div class="no-order" v-if="!products.length">
                <div class="col-md-12">
                    <h3> You have not added any products yet :-) </h3>
                    <router-link :to="{ name: 'home' }" > Let's help you find one</router-link>
                </div>
            </div>
            <div class="col-md-12 justify-center" v-else>
                <div class="row">
                    <div class="col-md-4 product-box" v-for="(product,index) in products" @key="index">
                        <router-link :to="{ path: '/products/'+product.id}" />
                            <progressive-img :src="product.image" :alt="product.name" />
                        </router-link>
                        <div class="product-price">
                            <div>
                                <router-link :to="{ path: '/products/'+product.id}">
                                    <h5><span v-html="product.name"></span></h5>
                                </router-link>
                            </div>
                            <div>
                                <span class="small-text text-muted">{{product.price | currency}}</span> <br />
                                    Unit: {{ product.quantity }}  <br />
                                    <div style="margin-top: 30px">
                                        Total Price: <span class="small-text text-muted">{{product.totalPrice | currency}}</span>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row checkout-bg">
                    <div class="col-md-12">
                        <div class="btn-buy-now">
                            <div v-if="!isLoggedIn">
                                <h2>You need to login to continue</h2>
                                <button class="col-md-4 btn btn-primary float-left" @click="login">Login</button>
                                <button class="col-md-4 btn btn-danger float-right" @click="register">Create an account</button>
                            </div>
                            <div v-if="isLoggedIn">
                                <div class="row">
                                    <label for="address" class="col-md-3 col-form-label">Delivery Address</label>
                                    <div class="col-md-9">
                                        <textarea id="address" class="form-control" v-model="address" required></textarea>
                                    </div>
                                </div>
                                <br>
                            <paystack
                                :amount="totalPrice | price"
                                :email="email"
                                :paystackkey="paystackkey"
                                :reference="reference"
                                :callback="placeOrder"
                                :close="close"
                                :embed="false"

                                class='col-md-4 btn btn-sm btn-primary'
                            >
                            <CreditCard />
                            Checkout to pay {{ totalPrice | currency }}
                            </paystack>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Cart from 'vue-material-design-icons/Cart.vue';
import Cancel from 'vue-material-design-icons/Cancel.vue';
import CreditCard from 'vue-material-design-icons/CreditCard.vue'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import paystack from 'vue-paystack';
import { PAYSTACK_KEY } from '../../store/types';
import toast from '../../services/toast';

export default {
    data(){
        return {
            products: this.$store.getters.cart,
            title: 'Checking Out',
            isLoading: false,
            isEmpty: false,
            paystackkey: PAYSTACK_KEY,
            email: '',
            user: null,
            isLoggedIn : null,
            address : "",
        }
    },
    mounted() {
        this.$store.dispatch('changeHeaderTitle', this.title);
    },
    beforeMount() {
        this.user = this.$store.getters.user ? this.$store.getters.user : [];
        this.isLoggedIn = this.$store.getters.token != null
        this.email = this.isLoggedIn ? this.user.email : '';
    },
    computed: {
        totalPrice() {
            let total = 0;
            for (let item of this.products) {
                total += item.totalPrice;
            }
            return total;
        },
        reference() {
            let text = "";
            const possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
 
            for( let i=0; i < 10; i++ )
            text += possible.charAt(Math.floor(Math.random() * possible.length));
    
            return text;
        }
    },
    methods: {
        removeFromCart(product) {
            this.$store.dispatch('removeFromCart', product);
            this.isEmpty = this.products.length < 1 ? true : false;
        },
        updateCartQuantity(product, quantity) {
            this.isLoading = true;
            if (quantity > this.product.units) {
                quantity = this.product.units
            }
            product['quantity'] = parseInt(quantity);
            this.$store.dispatch('updateCartQuantity', product);
            this.isLoading = false;
        },
        close: function(){
            toast.error('You close the payment gateway.');
        },
        login() {
            this.$router.push({name: 'login', params: {nextUrl: this.$route.fullPath}})
        },
        register() {
            this.$router.push({name: 'register', params: {nextUrl: this.$route.fullPath}})
        },
        placeOrder(e) {
            e.preventDefault()
            const data = {
                address: this.address,
                products: this.products,
                user: this.$store.getters.user,
            }
            this.$store.dispatch('addOrder', data)
            .then(() => {
                this.$router.push('/confirmation')
            });
        },
    },
    components: {
        Cart,
        Loading,
        Cancel,
        paystack,
        CreditCard,
    }
}
</script>
<style scoped>
.small-text { 
    font-size: 18px;
}
.title {
    font-size: 36px;
    color: #E0320D;
}
button {
    font-size: 18px !important;
}
button:hover {
    background-color: white;
    color: #E0320D;
}
.product-box {
    text-align: center;
}
.checkout-bg {
    margin-top: 30px;
    text-align: center;
}
</style>