<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 justify-center">
                    <div class="row">
                        <div class="col-md-4 product-box" v-for="(product,index) in products" @key="index">
                            <router-link :to="{ path: '/products/'+product.id}">
                                <progressive-img :src="product.image" :alt="product.name" />
                                <div class="product-price">
                                    <div>
                                        <h5><span v-html="product.name"></span></h5>
                                    </div>
                                    <div>
                                        <span class="small-text text-muted">{{product.price | currency}}</span>
                                    </div>
                                </div>
                            </router-link>
                                <div class="btn-buy-now">
                                    <button class="col-md-4 btn btn-sm btn-danger" @click="addToCart(product)"><Cart /> Add to Cart</button> 
                                </div>
                            <span class="addtowish float-right" title="Add to Wish" @click="addToWishes(product)"><Love /></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Cart from 'vue-material-design-icons/Cart.vue';
import Love from 'vue-material-design-icons/Heart.vue';

export default {
    data(){
        return {
            isLoading: true,
            title: 'Welcome to FINT NG eCommerce App',
        }
    },
    computed: {
        products() {
            return this.$store.getters.products;
        },
    },
    mounted(){
        this.$store.dispatch('changeHeaderTitle', this.title);
        this.$store.dispatch('getAllProducts');
    },
    methods: {
        addToCart(product) {
            this.$store.dispatch('addtoCart', product);
        },
        addToWishes(product) {
            this.$store.dispatch('addtoWishes', product);
        },
    },
    components: {
        Cart,
        Love,
    }
}
</script>
<style scoped>
.small-text {
    font-size: 14px;
}
.product-price {
    margin: 10px;
    text-align: center;
}
.btn-buy-now {
    text-align: center;
    margin-top: 10px;
}

.btn-buy-now button {
    font-size: 13px !important;
}
.btn-buy-now button:hover {
    background-color: white;
    color: #E0320D;
}

.bg-wishes-active {
    background-color: #111111;
}
</style>
