<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <progressive-img :src="product.image" :alt="product.name" />
                <h3 class="title" v-html="product.name"></h3>
                <p class="text-muted">{{product.description}}</p>
                <h4>
                    <span class="small-text text-muted float-left">{{product.price | currency }}</span>
                    <span class="small-text float-right">In stock: {{product.units}}</span>
                </h4>
                <br>
                <hr>
                <button class="col-md-4 btn btn-lg btn-success float-left" @click="addToWishes(product)">
                <Heart /> 
                Add to Wishlists</button>
                <button class="col-md-4 btn btn-lg btn-danger float-right" @click="addToCart(product)">
                <Cart /> 
                Add to Cart</button>
                <div class="text-center mt-30">
                <hr />
                    <router-link :to="{ name: 'cart' }" class="col-md-4 btn btn-lg btn-info" @click="addToCart(product)">
                    <Cart /> 
                    Proceed to Checkout</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Cart from 'vue-material-design-icons/Cart.vue';
import Heart from 'vue-material-design-icons/Heart.vue';

export default {
    data(){
        return {
            product : []
        }
    },
    beforeMount(){
        let url = `/api/products/${this.$route.params.id}`
        axios.get(url).then(response => {
            this.product = response.data;
            this.$store.dispatch('changeHeaderTitle', response.data.name);
        });   
    },
    methods: {
        addToCart(product) {
            this.$store.dispatch('addtoCart', product);
        },
        addToWishes(product) {
            this.$store.dispatch('addtoWishes', product);
        },
    },
    components: {
        Cart,
        Heart,
    }
}
</script>
<style scoped>
.small-text { 
    font-size: 18px;
}
.title {
    font-size: 36px;
    color: #E0320D;
}
button {
    font-size: 18px !important;
}
button:hover {
    background-color: white;
    color: #E0320D;
}
.mt-30 {
    margin-top: 100px !important;
}
</style>