 <template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="row">
                        <div class="no-order" v-if="!orders.length">
                            <div class="col-md-12">
                                <h3> No Orders Yet </h3>
                                <router-link :to="{ name: 'home' }" > Start Shopping</router-link>
                            </div>
                        </div>
                        <div v-else class="col-md-4 product-box" v-for="(order,index) in orders" @key="index">
                            <progressive-img :src="order.product.image" :alt="order.product.name" />
                            <h5><span v-html="order.product.name"></span><br>
                                <span class="small-text text-muted">$ {{order.product.price}}</span>
                            </h5>
                            <hr>
                            <span class="small-text text-muted">Quantity: {{order.quantity}}
                                <span class="float-right">{{order.is_delivered == 1? "shipped!" : "not shipped"}}</span>
                            </span>
                            <br><br>
                            <p><strong>Delivery address:</strong> <br>{{order.address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user : null,
            title: 'Your Orders'
        }
    },
    computed: {
        orders () {
            return this.$store.getters.orders ? this.$store.getters.orders : []
        }
    },
    mounted() {
        this.$store.dispatch('changeHeaderTitle', this.title);
    },
    beforeMount() {
        this.user = this.$store.getters.user;
        const data = {
            user: this.user,
            token: this.$store.getters.token,
        };
        this.$store.dispatch('getOrders', data);
    }
}
</script>

<style scoped>
.small-text { 
    font-size: 14px; 
}
.product-box { 
    
}
.hero-section { 
    background: #ababab; 
    height: 20vh; 
    align-items: center; 
    margin-bottom: 20px; 
    margin-top: -20px; 
}
.title { 
    font-size: 60px; 
    color: #ffffff; 
}
</style>