<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-center">
                <div class="row">
                     <div class="no-order" v-if="!products.length">
                            <div class="col-md-12">
                                <h3> You have no wish lists yet :-) </h3>
                                <router-link :to="{ name: 'home' }" > Find one now</router-link>
                            </div>
                        </div>
                    <div class="col-md-4 product-box" v-for="(product,index) in products" @key="index" v-else>
                        <router-link :to="{ path: '/products/'+product.id}">
                            <progressive-img :src="product.image" :alt="product.name" />
                            <div class="product-price">
                                <div>
                                    <h5><span v-html="product.name"></span></h5>
                                </div>
                                <div>
                                    <span class="small-text text-muted">{{product.price | currency}}</span>
                                </div>
                            </div>
                        </router-link>
                            <div class="btn-buy-now">
                                <button class="col-md-4 btn btn-sm btn-danger" @click="addToCart(product)"><Cart /> Add to Cart</button> 
                            </div>
                            <div class='wishes-remove'>
                                <span class="float-right text-primary" @click="removeFromWishes(product)"><Cancel /> Remove from wishes </span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Cart from 'vue-material-design-icons/Cart.vue';
import Cancel from 'vue-material-design-icons/Cancel.vue';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    data(){
        return {
            products: this.$store.getters.wishes,
            title: 'Your Wish Lists',
            isLoading: false,
        }
    },
    mounted() {
        this.$store.dispatch('changeHeaderTitle', this.title);
    },
    computed: {
        totalPrice() {
            let total = 0;
            for (let item of this.products) {
                total += item.totalPrice;
            }
            return total;
        }
    },
    methods: {
        removeFromWishes(product) {
            this.$store.dispatch('removefromWishes', product);
        },
        addToCart(product) {
            this.$store.dispatch('addtoCart', product);
        },
        updateQuantity(product, quantity) {
            this.isLoading = true;
            product.quantity = quantity;
            this.$store.commit('updateQuantity', product);
            this.isLoading = false;
        }
    },
    components: {
        Cart,
        Loading,
        Cancel,
    }
}
</script>
<style scoped>
.small-text { 
    font-size: 18px;
}
.title {
    font-size: 36px;
    color: #E0320D;
}
button {
    font-size: 13px !important;
}
button:hover {
    background-color: white;
    color: #E0320D;
}
.product-box {
    text-align: center;
}
.checkout-bg {
    margin-top: 30px;
    text-align: center;
}
.wishes-remove {
    margin-top: 30px;
}
.wishes-remove span {
    cursor: pointer;
}
</style>